.obsidian/workspace.json
Bookmarks/Twitter/Local AI/*/videos/*
Bookmarks/Twitter/Obsidian/*/videos/*
Bookmarks/Twitter/Codex/*/videos/*
Bookmarks/Twitter/Hermes/*/videos/*
Bookmarks/Twitter/Claude Cowork/*/videos/*
Bookmarks/Twitter/Claude Code/*/videos/*
.obsidian/graph.json
Course Notes/*
